* {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Mono', monospace;

}


// .container {
//     max-width: 100%;
//     width: 100%;
//     min-height: 100vh;
//     margin: 0;
//     padding: 0 15px;
//     box-sizing: border-box;


// }


@media (max-width: 768px) {
    // Small Screen
}


@media (min-width: 768px) {
    // Medium
}

@media (max-width: 1024px) {
    // Large Screen
}