.navbar-wrapper {
    display: flex;
    background-color: #363333;
    height: 30px;
    color: $orange;

    .left-nav {
        display: flex;
        align-items: center;


    
        margin-right: 20px;
    }

    img {
        max-width: 100px;
        height: auto;
    }


  
}

