.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $orange;
    color: white !important;


    .left-nav {
        display: flex;
        align-items: center;

        

        .nav-link-jordan {
            margin-left: 10px;
            margin-right: 10px;

            a {
                text-decoration: none;
                color: whitesmoke;
            }

            img {
                height: 50px;
                width: 50px;

            }
        }

        .nav-link-products {
            a {
                text-decoration: none;
                color: rgb(0, 0, 0);

            }
        }
    }

    


    .right-nav {
        display: flex;
        align-items: center;

        .nav-link-wrapper {
            margin-left: 20px;
            margin-right: 10px;

        .icon {
            color: black;
        }
            

        }
    }
}